[Unit]
Description=pulls promotion stats from traffic db and writes them to cassandra

After=network.target

[Service]
Type=oneshot
User=@TIPPR_USER@
Group=@TIPPR_GROUP@
EnvironmentFile=-/etc/default/tippr
WorkingDirectory=@TIPPR_ROOT@
ExecStart=/usr/bin/python3 @TIPPR_SRC@/tippr/scripts/wrap-job paster run ${TIPPR_INI} -c 'from r2.lib import inventory; inventory.update_prediction_data()'

Nice=10

[Install]
WantedBy=tippr.target
