[Unit]
Description=Perform expensive cleanup actions ASAP after account deletion
PartOf=tippr.target
After=network.target

[Service]
Type=simple
User=@TIPPR_USER@
Group=@TIPPR_GROUP@
EnvironmentFile=-/etc/default/tippr
WorkingDirectory=@TIPPR_ROOT@
ExecStart=/usr/bin/python3 @TIPPR_SRC@/tippr/scripts/wrap-job paster run --proctitle del_account_q%i ${TIPPR_INI} @TIPPR_ROOT@/r2/lib/db/queries.py -c 'consume_deleted_accounts()'
Restart=always
Nice=10

[Install]
WantedBy=tippr.target
