[Unit]
Description=Apply moderator-defined rules to submissions and comments
PartOf=tippr.target
After=network.target

[Service]
Type=simple
User=@TIPPR_USER@
Group=@TIPPR_GROUP@
EnvironmentFile=-/etc/default/tippr
WorkingDirectory=@TIPPR_ROOT@
ExecStart=/usr/bin/python3 @TIPPR_SRC@/tippr/scripts/wrap-job paster run --proctitle automoderator_q%i ${TIPPR_INI} @TIPPR_ROOT@/r2/lib/automoderator.py -c 'run()'
Restart=always
Nice=10

[Install]
WantedBy=tippr.target
