[Unit]
Description=Update the current trending vaults cache.

After=network.target

[Service]
Type=oneshot
User=@TIPPR_USER@
Group=@TIPPR_GROUP@
EnvironmentFile=-/etc/default/tippr
WorkingDirectory=@TIPPR_ROOT@
ExecStart=/usr/bin/python3 @TIPPR_SRC@/tippr/scripts/wrap-job paster run ${TIPPR_INI} -c 'from r2.lib.trending import update_trending_subreddits; update_trending_subreddits()'

Nice=10

[Install]
WantedBy=tippr.target
