[Unit]
Description=refresh the geoip databases



[Service]
Type=oneshot
User=@TIPPR_USER@
Group=@TIPPR_GROUP@
EnvironmentFile=-/etc/default/tippr
WorkingDirectory=@TIPPR_ROOT@
ExecStart=/usr/bin/geoipupdate
ExecStart=/usr/bin/systemctl reload gunicorn-geoip.service

Nice=10

[Install]
WantedBy=tippr.target
