## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
#
#  Portions created by TechIdiots LLC (Tippr) are Copyright (c) 2026 
#  TechIdiots LLC. All Rights Reserved.
# 
#  Contributor(s): TechIdiots LLC
###############################################################################

<%namespace file="utils.html" import="plain_link"/>
<%namespace file="vault.html" import="permission_icons"/>

<%
  from r2.models import MultiVault
  from r2.lib.pages import SubscribeButton
  is_multi = isinstance(c.site, MultiVault)
%>

<div class="subscription-box">
  % if thing.prelink or thing.goldlink:
  <div class="box-top">
    % if thing.prelink:
    <span class="column centered">
      <a href="${thing.prelink[0]}">${thing.prelink[1]}</a>
    </span>
    % endif
    % if thing.goldlink:
    <span class="giftgold column">
    <a href="${thing.goldlink}">
      ${thing.goldmsg}
    </a>
    </span>
    % endif
  </div>
  % endif
  <div class="clear">
  % if thing.prelink or thing.goldlink:
    <div class="box-separator"></div>
  % endif
    <ul>
    %if thing.multi_path and thing.multi_text:
      ${plain_link(thing.multi_text, thing.multi_path, _class="title")}
      <div class="box-separator"></div>
    %endif
    %for vault in thing.reddits:
      <% is_spam = hasattr(vault, "_spam") and vault._spam %>
      <li>
        %if is_multi and is_spam:
          <span class="fancy-toggle-button">
            <span class="active banned">${_("banned")}</span>
          </span>
        %else:
          ${SubscribeButton(vault)}
        %endif

        %if is_spam:
          <span class="title banned">${vault.name}</span>
        %else:
          ${plain_link(vault.name, vault.path, _class="title")}
        %endif

        ${permission_icons(vault)}
      </li>
    %endfor
    </ul>
  </div>
</div>
